version: '3.8'

services:
  app:
    build:
      context: .
    container_name: node-app
    ports:
      - '3000:3000'
      - '9229:9229'
    volumes:
      - ./:/srv/app
    environment:
      - NODE_ENV=development
    networks:
      - webnet

  nginx:
    image: nginx:stable-alpine
    container_name: nginx-proxy
    ports:
      - "80:80"     
    depends_on:
      - app
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./html:/usr/share/nginx/html:ro   
    restart: unless-stopped
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
