version: '3.9'

services:
  nodejs:
    build: ./node-app
    container_name: node-server
    ports:
      - "3000:3000"
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./static:/usr/share/nginx/html
    ports:
      - "80:80"
    depends_on:
      - nodejs
    networks:
      - app-network

networks:
  app-network:
    driver: bridge